body {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.navigationLink {
    text-decoration: none;
    padding: 2em;
    color: #3cff05;
    will-change: filter;
    transition: filter 300ms;
}

.navigationLink:hover {
    filter: drop-shadow(0 0 2em rgba(7, 27, 224, 0.67));
}

.App-logo {
    margin-top: 5em;
    height: 30vmin;
    pointer-events: none;
    border-style: solid;
    animation: App-logo-spin infinite 20s linear;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.container {
    padding: 10px;
    display: flex;
    justifyContent: center;
    background: #717880;
}
