<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../stylesheet.css">
        <title>Services</title>
    </head>
    <body>
        <div id="navbar">
            <img id="logo" src="../img/swissDev.png" width="100">
            <h2>
                Our Services
            </h2>
            <link>
            <a href="/index.html">Home</a>
            <link>
            <a href="./view/aboutUs.html">About us</a>
            <link>
            <a href="./view/services.html">Services</a>
        </div>
        <main>
            <div>
                <p>Huhu</p>
            </div>
        </main>
    </body>
</html>